

.container-fluid {
    padding: 0px;
}

.pageContainer{

}

.mainNavigation{
     top: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     height: 40px;
     z-index: 9999;
     position: fixed;
}

#mainNavigation a{
    color: white;
}



header{
    text-align: center;
    width: 100%;

}

li{
    display: inline;
    padding-right: 10px;
}

.col-sm-3, .col-sm-6{
    margin-top: 150px;
}


.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: transparent;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
    animation-fill-mode: forwards;
  color: black;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 1;
      position: absolute;
  }
}
