{% extends "layout.html" %}
{% block style %}
    <style>
        body {

         background-image: url({{ url_for('static', filename='images/sthlmlogin.jpg') }});

         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         background-color: white;
        }
    </style>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-sm-3">
        </div>

    <div class="col-sm-6">
    <main>

        <div style="margin: auto">

            <p style="margin-left: -60px">Login or Create an account to see guestbook</p>

        <a href="login"><button type="button" class="btn btn-primary">Login</button></a>


        <a href="register"><button type="button" class="btn btn-primary">Create account</button></a>
        </div>



    </main>
    </div>




    <div class="col-sm-3">
    </div>

    </div> <!-- end of .row -->


{% endblock %}