{% extends "layout.html" %}


{% block content %}
    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">

      <p>Welcome {{ user }} !</p>

            <button type="button"><a href="guestbook">Log out</a></button>
            <form action = "/guestbookloggedin" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="commentContent" placeholder="Write a comment"></textarea>
                </div>
                <input type="file" name="file" accept=".png, .jpg, .jpeg">
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>


          {% for username, comment, date in comments %}
            <div style="background-color: white">
                {{ comment }}
            </div>
        {% endfor %}
        </div>

        <div class="col-sm-3"></div>

    </div> <!-- end row -->

{% endblock %}