{% extends "layout.html" %}
{% block style %}
    <style>

        body {

         background-image: url({{ url_for('static', filename='images/sthlmloggedin.jpg') }});
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         background-color: white;
        }
    </style>
{% endblock %}



{% block content %}
    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">

      <h1>WELCOME {{ user }} !</h1>


            <form action = "/guestbookloggedin" method = "POST" enctype="multipart/form-data">
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="commentContent" placeholder="Write a comment" required></textarea>
                </div>
                <input type="file" name="file" class="btn btn-primary" accept=".png, .jpg, .jpeg">
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>




            <div style="margin-top: 100px">
            <h2>COMMENTS</h2>
          {% for username, comment, image, name, city, date in comments %}
              <div class="comment">
            <div>
                {{ username, name, city, date }}
            </div>
              <div>
                {{ comment }}
              </div>
               {% if image != None %}
                <div>
                     <img src="images/files/{{ image }}" width="120" height="120">
                <p>{{ image }}</p>
                </div>
              {% endif %}
              </div>


        {% endfor %}
        </div>
        </div>


        <div class="col-sm-3"><button type="button"><a href="guestbook">Log out</a></button></div>

    </div> <!-- end row -->

{% endblock %}