{% extends "layout.html" %}

{% block style %}
     <style>
        body {

         background-image: url({{ url_for('static', filename='images/sthlm.jpg') }});

         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         background-color: white;
        }
    </style>
{% endblock %}


{% block content %}

    <main>
        <div class="animation-box">
            <div class="first-text">Stockholm</div>
        </div>

        <img src="../files/321601_103059743231048_1823764973_n.jpg">

    </main>

{% endblock %}